.main-large-dropdown {
    width: 240px;
    @include FlexMixin(row,space-between,center);
    height: 40px;
    padding:0rem 1rem 0rem 1rem;
    background: $white-color;
    border-radius: 5px;
    input {
        border:none;
        outline:none;

        &:focus {
            outline:none;
        }


    }
}

.just-container {

    .regular-dropdown {
        width: 120px;
    @include FlexMixin(row,space-between,center);
    height: 40px;
    padding:0rem 1rem 0rem 1rem;
    background: $white-color;
    border-radius: 5px;
    }
}

.relative-modal-1 {
    position: relative;
    top:60px;
    background: $white-color;
    width: 300px;
    @include FlexMixin(row, space-between,space-around);
    z-index:2;
    height: 200px;
    border-radius: 5px;

}