.main-large-dropdown {
    width: 280px;
    @include FlexMixin(row,space-between,center);
    height: 40px;
    padding:0rem 1rem 0rem 1rem;
    background: $white-color;
    border-radius: 5px;
    input {
        border:none;
        outline:none;

        &:focus {
            outline:none;
        }


    }
}

.just-container {

    .regular-dropdown {
        width: 120px;
    @include FlexMixin(row,space-between,center);
    height: 40px;
    padding:0rem 1rem 0rem 1rem;
    background: $white-color;
    border-radius: 5px;
    }
}

.relative-modal-1 {
    position: relative;
    top:110px;
    left:-150px;
    background: $white-color;
    width: 300px;
    @include FlexMixin(row, space-between,flex-start);
    z-index:2;

    border-radius: 5px;
    padding: 1rem;
    box-shadow: '1px 2px 9px #F4AAB9';

    .rm1-left {
        @include FlexMixin(column, space-around, flex-start);
        width: 140px;

        >p {
            margin-top: 10px;
        }

        input {
            width:110px;
            height: 30px;
            border-radius: 5px;
            outline:none;
            border: 1px solid $gray-color;
            padding-left: 0.5rem;
            margin-top: 10px;
            &:hover {
                outline:none;
            }

        }
    }

    .rm1-right {
        @include FlexMixin(column, space-around, flex-start);
        width: 140px;

        input {
            width:100px;
            height: 30px;
            border-radius: 5px;
            outline:none;

            &:hover {
                outline:none;
            }

        }
    }

}