.filter-containers {
    padding: 1rem;
    @include FlexMixin(column,space-between,center);
    background: $special-black-color;
    border-radius: 5px;
    margin-top: 30px;
    height: 90px;

    .upper-region {
        @include FlexMixin(row,space-around,center);
        width: 660px;
    }
}